<div class="row">
    <h2 class="header gv-app-red-text light">Visualizador de evidencias</h2>
    <!-- <a class="bills-button" ng-if="!loadingOverrides" href="/bills#!/?agreement={{query.agreement}}" target="_blank">Ver
        Facturas</a> -->

    <div class="row" ng-cloak>
        <div class="col s12 m12">
            <div class="card ">
                <div class="card-content ">
                    <span class="card-title ng-hide" ng-if="!calculated">No existen evidencias para la búsqueda
                        solicitada</span>
                    <!-- <p>Parámetros recibidos:</p> -->
                    <div class="row">
                        <div class="col s6">
                            <ul>
                                <li>
                                    <strong>ANS</strong>: {{query.agreement}}
                                </li>
                                <li>
                                    <strong>Garantía</strong>: {{query.indicator}}
                                </li>
                                <!-- <li>
                                    <strong>Prioridad</strong>: {{query.priority}}
                                </li> -->
                            </ul>
                        </div>
                        <div class="col s6">
                            <ul>
                                <li>
                                    <strong>Zona horaria</strong>: {{query.tz}}
                                </li>
                                <li>
                                    <strong>Mes/Año</strong>: {{query.periodFormated}}
                                </li>
                                <!-- <li>
                                    <strong>Estado factura: </strong>
                                    <span style="color:green" ng-hide ng-if="openBill">Abierta</span>
                                    <span style="color:red" ng-hide ng-if="!openBill">Cerrada</span>
                                </li> -->

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-action grey lighten-4 ng-hide blue-text" ng-if="!calculated">
                    <a href="{{config.dashboard_url}}">Ir al dashboard</a>
                </div>
            </div>

        </div>
    </div>
</div>

<div ng-if="loadingOverrides" class="loading-div">

    <img src="../../../../evidences/img/loading_icon.gif" class="loading-gif"><br />
    <span>Recalculando el estado del acuerdo... Por favor, espere.</span>

</div>

<div class="row evidences-table" ng-cloak ng-show="calculated">
    <table class="highlight bordered">
        <thead>
            <tr style="font-weight: bold;">
                <td style="text-align: center;">ID Ticket</td>
                <td style="text-align: center;">Valor</td>
                <!-- <td style="text-align: center;" ng-show="type != 'filter'" ng-repeat="type in typeEvidences">
                    {{type}}
                </td> -->
                <td style="text-align: center;">Cumplimiento</td>
                <td style="text-align: center;">Falso positivo</td>
                <td style="text-align: center;">Comentarios</td>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ev in evidences">
                <td style="text-align: center;" ng-show="ev.id">
                    <a ng-href="https://naossuite.juntadeandalucia.es/servicedesk/faces/jsp/incident/incidentTransact/phase/transact.xhtml?sid={{ev.id}}"
                        target="_blank">{{ev.id}}</a>
                </td>
                <td style="text-align: center;" ng-show="ev.value">
                    {{ev.value | number:2}}
                </td>
                <td style="text-align: center;" ng-show="ev.{{typeEvidence}}">
                    <span ng-show="ev.{{typeEvidence}} == 'NaN'">-</span>
                    <span class="isGreen" ng-show="ev.{{typeEvidence}} == 'true'">✔</span>
                    <span class="isRed"
                        ng-show="ev.{{typeEvidence}} == 'false' && overrides.indexOf(ev.id)<0 && !checkRegisteredOverride(ev.id)">✘</span>
                    <span class="isYellow"
                        ng-show="(ev.{{typeEvidence}} == 'false' && overrides.indexOf(ev.id)>=0) ||( ev.{{typeEvidence}} == 'false' && checkRegisteredOverride(ev.id))">✔</span>
                    <span
                        ng-show="!(ev.{{typeEvidence}} == 'NaN' || ev.{{typeEvidence}} == 'true' || ev.{{typeEvidence}} == 'false')">{{(ev[typeEvidence] | number:2)}}</span>
                </td>
                <!-- <td style="text-align: center;" ng-show="k != 'id' && k != 'filter'" ng-repeat="(k,v) in ev">
                    <span ng-show="v == 'NaN'">-</span>
                    <span class="isGreen" ng-show="v == 'true'">✔</span>
                    <span class="isRed"
                        ng-show="v == 'false' && overrides.indexOf(ev.id)<0 && !checkRegisteredOverride(ev.id)">✘</span>
                    <span class="isYellow"
                        ng-show="(v == 'false' && overrides.indexOf(ev.id)>=0) ||( v == 'false' && checkRegisteredOverride(ev.id))">✔</span>
                    <span ng-show="!(v == 'NaN' || v == 'true' || v == 'false')">{{(v | number:2)}}</span>
                </td> -->
                <td style="text-align: center;">
                    <span ng-show="ev.{{typeEvidence}} == 'true'">---</span>
                    <div title="{{''}}"><button
                            ng-show="ev.{{typeEvidence}} == 'false' && (overrides.indexOf(ev.id)<0) && !checkRegisteredOverride(ev.id)"
                            ng-click="changeCurrentId(ev.id)" data-target="modal1"
                            class="modal-trigger waves-effect waves-light btn" ng-disabled="loadingOverrides">Falso
                            positivo</button></div>
                    <span
                        ng-show="(ev.{{typeEvidence}} == 'false' && overrides.indexOf(ev.id)>=0 && !loadingOverrides) || ( ev.{{typeEvidence}} == 'false' && checkRegisteredOverride(ev.id))"
                        class="">Marcado como falso positivo </br> <span class="remove-override"
                            ng-click="undoOverride(ev.id);">Eliminar</span></span>
                </td>
                <td style="text-align: center;">
                    <div class="reason-container">
                        {{overridesReason[ev.id] | limitTo: 60 }}{{overridesReason[ev.id].length > 60 ? "..." : ''}}
                        <a ng-if="overridesReason[ev.id].length > 60" data-target="modal2"
                            ng-click="changeCompleteReason(overridesReason[ev.id])" class='undo-override'>Ver todo</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</br>
<button id="trigger1" style="visibility: hidden" data-target="modal3"></button>
<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h5>Comentarios sobre el falso positivo</h5>
        <div class="row">
            <div class="input-field col s12">
                <textarea class="materialize-textarea" ng-model="reason" />
                </div>
          </div>
          <div ng-show="reason" class="warning-override"><i class="material-icons material-warning">warning </i> Atención: Al pulsar aceptar se realizará un recálculo del acuerdo {{query.agreement}} para el mes de {{agreementMonth}}. 
                Este proceso puede durar varios minutos.</div><br/>
        </div>
        <div class="modal-footer">
            <button ng-click="checkOverride(currentId,reason);" ng-disabled="!reason" class="modal-close waves-effect waves-light btn btn-success">Aceptar</button>
            <button ng-click="completeReason = ''" class="modal-close waves-effect waves-light btn btn-warn">Cerrar</button>
        </div>
      </div>

      <div id="modal2" class="modal">
            <div class="modal-content">
              <h5>Comentarios sobre el falso positivo</h5>
              <div class="row">
                    {{completeReason}}
              </div>
            </div>
            <div class="modal-footer">
                    <button ng-click="completeReason = ''" class="modal-close waves-effect waves-light btn btn-warn">Cerrar</button>
            </div>
          </div>

          <div id="modal3" class="modal modal3" style="text-align:center">
            <div class="modal-content" style="justify-content: center; align-items:center">
                No pueden marcarse falsos positivos porque la factura para el mes de {{query.periodFormated}} se ha cerrado.<br/><br/>
            <button ng-click="refreshPage();" class="waves-effect waves-light btn btn-success">Aceptar</button>
          </div>
        </div>
    <style>
     .card .card-content {
        padding-top: 0px!important;
        padding-bottom: 0px!important;
     }
   
    .btn{
        background-color: #7CDAFF!important;
        font-size:0.8vw;
    }
    .btn-success{
        background-color: #61D5D4!important;
    }
    .btn-warn{
        background-color: #E94949!important;
    }
    .primary{
        background-color: #706AFF!important;
        font-size:15px;
    }
    .modal3{
        width:50%!important;
    }
    .loading-div{
        position:absolute;
        z-index: 1;
        left:35%;
        text-align: center;
    }
    .loading-gif{
        width:47%;
        position:relative;
    }
    .remove-override{
        color:#E76363;
        cursor:pointer;
    }
    .remove-override:hover{
        text-decoration:underline;
    }
    .undo-override{
        color:#43B6E9;
        cursor:pointer;
    }
    .info{
        color: #1F65D4;
    }
    .reason-container{
        max-width:350px;
        word-wrap: break-word;
    }
    textarea.materialize-textarea{
        padding: 0px!important;
        margin: 0px!important;
        max-height:20em;
    }
    .warning-override{
        background-color:#FFFBDD;
        margin-left:0.1em;
        border: 1px #735C0F solid;
        color: #735C0F;
        padding:5px;
    }
    .material-warning{
        font-size:18px;
        padding-top:5px;
        vertical-align: middle!important;
        display: inline-flex;
        padding-bottom: 7px;
    }
  .bills-button{
      float:right;
  }
    </style>

    <script>
        $(document).ready(function () {
            $('.modal').modal({
                dismissible: false
            });
        });
    </script>
   
</div>