p {
    line-height: 2rem;
}

ul li {
    line-height: 2.25rem;
}

.justify {
    text-align: justify;
}

.center {
    text-align: center;
}

footer.page-footer {
    margin: 0;
}

.blur {
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
}

.card-panel {
    opacity: 0.9;
}

.parallax-container {
    background-size: cover;
    background-position: center bottom;
    color: #fff;
    overflow: hidden;
    padding: 20% 0;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

.main_card_brand {
    text-transform: uppercase;
    font-size: 3.8rem;
    font-weight: 200;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

.main_card_brand2 {
    text-transform: lowercase;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 300;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    padding-bottom: 0.5rem;
}

.header_logo {
    width: 4rem;
    margin-left: 0.5rem;
    vertical-align: middle;
}

.main_card_title {
    text-transform: uppercase;
    font-size: 2.8rem;
    font-weight: 500;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

.main_card_version {
    font-size: 1.5rem;
    margin: 0px;
    padding: 0px;
    text-transform: none;
    /*vertical-align: super;*/
}

.main_card_subtitle {
    font-size: 1.7rem;
    font-weight: 300;
}

.main_card_button {
    width: auto;
    font-size: 0.9rem;
    overflow: hidden;
    min-width: 49%;
}

@media (max-width: 600px) {
    .main_card_button {
        width: 100%;
    }
}

.footer_logo {
    max-height: 10rem;
    min-height: 10rem;
    min-width: 10rem;
    width: 3em;
    background: white;
    border-radius: 10em;
    margin-right: 1rem;
}

.footer_info {
    display: flex;
    text-align: center;
}

.footer_connect {
    font-size: 1.25rem;
}

@media (max-width: 600px) {
    .footer_info {
        display: inherit;
    }
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.blue {
    background-color: #3269B7 !important;
}

.blue.lighten-2 {
    background-color: #E2F0FD !important;
}


/* .page-footer .footer-copyright {
    color: black !important;
}

.white-text {
    color: black !important;
} */